In [72]:
import pandas as pd
from sklearn.metrics import confusion_matrix, accuracy_score, roc_curve, roc_auc_score
import numpy as np

In [2]:
train_df1 = pd.read_csv(r'C:\Users\sshar127\Desktop\Analytics Vidya\Analytics_vidya-main\train_Df64byy.csv')
test_df1 = pd.read_csv(r'C:\Users\sshar127\Desktop\Analytics Vidya\Analytics_vidya-main\test_YCcRUnU.csv')
sub_sample = pd.read_csv(r'C:\Users\sshar127\Desktop\Analytics Vidya\Analytics_vidya-main\sample_submission_QrCyCoT.csv')

In [3]:
train_df = train_df1.copy()
test_df = test_df1.copy()

In [4]:
train_df.columns

Index(['ID', 'City_Code', 'Region_Code', 'Accomodation_Type',
       'Reco_Insurance_Type', 'Upper_Age', 'Lower_Age', 'Is_Spouse',
       'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium', 'Response'],
      dtype='object')

In [5]:
train_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [6]:
test_df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,C1,156,Owned,Individual,30,30,No,NaN,6.0,3.0,5,11934.0
1,50884,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,50885,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0
3,50886,C3,1177,Rented,Individual,23,23,No,X3,3.0,3.0,18,9086.0
4,50887,C1,951,Owned,Individual,75,75,No,X3,NaN,NaN,5,22534.0

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [8]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21805 entries, 0 to 21804
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       21805 non-null  int64
 1   City_Code                21805 non-null  object
 2   Region_Code              21805 non-null  int64
 3   Accomodation_Type        21805 non-null  object
 4   Reco_Insurance_Type      21805 non-null  object
 5   Upper_Age                21805 non-null  int64
 6   Lower_Age                21805 non-null  int64
 7   Is_Spouse                21805 non-null  object
 8   Health Indicator         16778 non-null  object
 9   Holding_Policy_Duration  13202 non-null  object
 10  Holding_Policy_Type      13202 non-null  float64
 11  Reco_Policy_Cat          21805 non-null  int64
 12  Reco_Policy_Premium      21805 non-null  float64
dtypes: float64(2), int64(5), object(6)
memory usage: 2.2+ MB

In [9]:
train_df['Accomodation_Type'].value_counts()

Owned     27951
Rented    22931
Name: Accomodation_Type, dtype: int64

In [10]:
test_df['Accomodation_Type'].value_counts()

Owned     12090
Rented     9715
Name: Accomodation_Type, dtype: int64

In [11]:
train_df['Reco_Insurance_Type'].value_counts()

Individual    40536
Joint         10346
Name: Reco_Insurance_Type, dtype: int64

In [12]:
train_df = pd.get_dummies(train_df, columns = ['Accomodation_Type', 'Reco_Insurance_Type', 'Is_Spouse'], drop_first=True)

In [13]:
train_df

,ID,City_Code,Region_Code,Upper_Age,Lower_Age,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,1,C3,3213,36,36,X1,14+,3.0,22,11628.0,0,1,0,0
1,2,C5,1117,75,22,X2,NaN,NaN,22,30510.0,0,0,1,0
2,3,C5,3732,32,32,NaN,1.0,1.0,19,7450.0,1,0,0,0
3,4,C24,4378,52,48,X1,14+,3.0,19,17780.0,0,0,1,0
4,5,C8,2190,44,44,X2,3.0,1.0,16,10404.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,22,22,X3,NaN,NaN,18,7704.0,0,1,0,0
50878,50879,C5,4188,27,27,X3,7.0,3.0,4,5408.0,0,1,0,0
50879,50880,C1,442,63,63,X2,14+,1.0,12,11374.0,0,1,0,0
50880,50881,C1,4,71,49,X2,2.0,2.0,16,28179.2,1,0,1,0
50881,50882,C3,3866,24,24,X3,2.0,3.0,18,11424.0,0,1,0,0

In [14]:
test_df = pd.get_dummies(test_df, columns = ['Accomodation_Type', 'Reco_Insurance_Type', 'Is_Spouse'], drop_first=True)
test_df.head()

,ID,City_Code,Region_Code,Upper_Age,Lower_Age,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,50883,C1,156,30,30,NaN,6.0,3.0,5,11934.0,0,0,0
1,50884,C4,7,69,68,X1,3.0,3.0,18,32204.8,0,1,1
2,50885,C1,564,28,28,X3,2.0,4.0,17,9240.0,1,0,0
3,50886,C3,1177,23,23,X3,3.0,3.0,18,9086.0,1,0,0
4,50887,C1,951,75,75,X3,NaN,NaN,5,22534.0,0,0,0

In [15]:
train_df.shape

(50882, 14)

In [16]:
test_df.shape

(21805, 13)

In [17]:
train_df.isna().sum()

ID                               0
City_Code                        0
Region_Code                      0
Upper_Age                        0
Lower_Age                        0
Health Indicator             11691
Holding_Policy_Duration      20251
Holding_Policy_Type          20251
Reco_Policy_Cat                  0
Reco_Policy_Premium              0
Response                         0
Accomodation_Type_Rented         0
Reco_Insurance_Type_Joint        0
Is_Spouse_Yes                    0
dtype: int64

In [18]:
test_df.isna().sum()

ID                              0
City_Code                       0
Region_Code                     0
Upper_Age                       0
Lower_Age                       0
Health Indicator             5027
Holding_Policy_Duration      8603
Holding_Policy_Type          8603
Reco_Policy_Cat                 0
Reco_Policy_Premium             0
Accomodation_Type_Rented        0
Reco_Insurance_Type_Joint       0
Is_Spouse_Yes                   0
dtype: int64

### Deleting Few columns 
# ID, City_Code, Region_Code, Health Indicator

In [19]:
train_df2 = train_df.drop(['ID', 'City_Code', 'Region_Code', 'Health Indicator'], axis = 1)
train_df2.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,36,36,14+,3.0,22,11628.0,0,1,0,0
1,75,22,NaN,NaN,22,30510.0,0,0,1,0
2,32,32,1.0,1.0,19,7450.0,1,0,0,0
3,52,48,14+,3.0,19,17780.0,0,0,1,0
4,44,44,3.0,1.0,16,10404.0,0,1,0,0

In [20]:
test_df2 = test_df.drop(['ID', 'City_Code', 'Region_Code', 'Health Indicator'], axis = 1)
test_df2.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,30,30,6.0,3.0,5,11934.0,0,0,0
1,69,68,3.0,3.0,18,32204.8,0,1,1
2,28,28,2.0,4.0,17,9240.0,1,0,0
3,23,23,3.0,3.0,18,9086.0,1,0,0
4,75,75,NaN,NaN,5,22534.0,0,0,0

In [21]:
train_df2.isna().sum()

Upper_Age                        0
Lower_Age                        0
Holding_Policy_Duration      20251
Holding_Policy_Type          20251
Reco_Policy_Cat                  0
Reco_Policy_Premium              0
Response                         0
Accomodation_Type_Rented         0
Reco_Insurance_Type_Joint        0
Is_Spouse_Yes                    0
dtype: int64

In [22]:
train_df2.Holding_Policy_Duration.unique()

array(['14+', nan, '1.0', '3.0', '5.0', '9.0', '14.0', '7.0', '2.0',
       '11.0', '10.0', '8.0', '6.0', '4.0', '13.0', '12.0'], dtype=object)

In [23]:
test_df2.Holding_Policy_Duration.unique()

array(['6.0', '3.0', '2.0', nan, '14+', '5.0', '1.0', '4.0', '12.0',
       '11.0', '7.0', '9.0', '13.0', '8.0', '14.0', '10.0'], dtype=object)

In [24]:
train_df2.Holding_Policy_Type.unique()

array([ 3., nan,  1.,  4.,  2.])

In [25]:
test_df2.Holding_Policy_Type.unique()

array([ 3.,  4., nan,  1.,  2.])

In [26]:
train_df2.Holding_Policy_Duration = train_df2.Holding_Policy_Duration.replace('14+', '14.0')
test_df2.Holding_Policy_Duration = test_df2.Holding_Policy_Duration.replace('14+', '14.0')

In [27]:
train_df2.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,36,36,14.0,3.0,22,11628.0,0,1,0,0
1,75,22,NaN,NaN,22,30510.0,0,0,1,0
2,32,32,1.0,1.0,19,7450.0,1,0,0,0
3,52,48,14.0,3.0,19,17780.0,0,0,1,0
4,44,44,3.0,1.0,16,10404.0,0,1,0,0

In [28]:
test_df2.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,30,30,6.0,3.0,5,11934.0,0,0,0
1,69,68,3.0,3.0,18,32204.8,0,1,1
2,28,28,2.0,4.0,17,9240.0,1,0,0
3,23,23,3.0,3.0,18,9086.0,1,0,0
4,75,75,NaN,NaN,5,22534.0,0,0,0

In [29]:
train_df2 = train_df2.fillna(train_df2.median())
train_df2.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,36,36,14.0,3.0,22,11628.0,0,1,0,0
1,75,22,5,3.0,22,30510.0,0,0,1,0
2,32,32,1.0,1.0,19,7450.0,1,0,0,0
3,52,48,14.0,3.0,19,17780.0,0,0,1,0
4,44,44,3.0,1.0,16,10404.0,0,1,0,0

In [30]:
X_test = test_df2.fillna(test_df2.median())
X_test.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,30,30,6.0,3.0,5,11934.0,0,0,0
1,69,68,3.0,3.0,18,32204.8,0,1,1
2,28,28,2.0,4.0,17,9240.0,1,0,0
3,23,23,3.0,3.0,18,9086.0,1,0,0
4,75,75,5,3.0,5,22534.0,0,0,0

In [31]:
X_train = train_df2.drop(['Response'], axis = 1)
X_train.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,36,36,14.0,3.0,22,11628.0,1,0,0
1,75,22,5,3.0,22,30510.0,0,1,0
2,32,32,1.0,1.0,19,7450.0,0,0,0
3,52,48,14.0,3.0,19,17780.0,0,1,0
4,44,44,3.0,1.0,16,10404.0,1,0,0

In [32]:
y_train = train_df2.loc[:, 'Response']
y_train.head()

0    0
1    0
2    1
3    0
4    0
Name: Response, dtype: int64

In [33]:
y_test = sub_sample.drop(['ID'], axis = 1)
y_test

       Response
0             0
1             0
2             0
3             0
4             0
...         ...
21800         0
21801         0
21802         0
21803         0
21804         0

[21805 rows x 1 columns]

In [34]:
X_train

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,36,36,14.0,3.0,22,11628.0,1,0,0
1,75,22,5,3.0,22,30510.0,0,1,0
2,32,32,1.0,1.0,19,7450.0,0,0,0
3,52,48,14.0,3.0,19,17780.0,0,1,0
4,44,44,3.0,1.0,16,10404.0,1,0,0
...,...,...,...,...,...,...,...,...,...
50877,22,22,5,3.0,18,7704.0,1,0,0
50878,27,27,7.0,3.0,4,5408.0,1,0,0
50879,63,63,14.0,1.0,12,11374.0,1,0,0
50880,71,49,2.0,2.0,16,28179.2,0,1,0
50881,24,24,2.0,3.0,18,11424.0,1,0,0

In [35]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[['Upper_Age', 'Lower_Age', 'Holding_Policy_Duration', 'Holding_Policy_Type', 'Reco_Policy_Cat', 'Reco_Policy_Premium']] = sc.fit_transform(X_train[['Upper_Age', 'Lower_Age', 'Holding_Policy_Duration', 'Holding_Policy_Type', 'Reco_Policy_Cat', 'Reco_Policy_Premium']])
X_test[['Upper_Age', 'Lower_Age', 'Holding_Policy_Duration', 'Holding_Policy_Type', 'Reco_Policy_Cat', 'Reco_Policy_Premium']] = sc.transform(X_test[['Upper_Age', 'Lower_Age', 'Holding_Policy_Duration', 'Holding_Policy_Type', 'Reco_Policy_Cat', 'Reco_Policy_Premium']])

In [36]:
X_train.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,-0.511625,-0.389098,2.377858,0.400939,1.085830,-0.387852,1,0,0
1,1.741395,-1.197449,-0.173242,0.400939,1.085830,2.477394,0,1,0
2,-0.742704,-0.620055,-1.307064,-1.974398,0.612688,-1.021842,0,0,0
3,0.412691,0.303775,2.377858,0.400939,0.612688,0.545682,0,1,0
4,-0.049467,0.072817,-0.740153,-1.974398,0.139547,-0.573588,1,0,0

In [37]:
X_test.head()

,Upper_Age,Lower_Age,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Accomodation_Type_Rented,Reco_Insurance_Type_Joint,Is_Spouse_Yes
0,-0.858243,-0.735534,0.110214,0.400939,-1.595304,-0.341418,0,0,0
1,1.394777,1.458562,-0.740153,0.400939,0.454975,2.734571,0,1,1
2,-0.973783,-0.851013,-1.023609,1.588607,0.297261,-0.750219,1,0,0
3,-1.262631,-1.139710,-0.740153,0.400939,0.454975,-0.773588,1,0,0
4,1.741395,1.862738,-0.173242,0.400939,-1.595304,1.267077,0,0,0

In [38]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
rfc_pred = rfc.predict(X_test)

In [39]:
print (confusion_matrix(y_test, rfc_pred))

[[19616  2189]
 [    0     0]]

In [40]:
print (accuracy_score(y_test, rfc_pred))

0.8996101811511121

In [41]:
rfc_pred_proba = rfc.predict_proba(X_test)
rfc_pred_proba

array([[0.36, 0.64],
       [0.77, 0.23],
       [0.94, 0.06],
       ...,
       [0.99, 0.01],
       [0.87, 0.13],
       [0.94, 0.06]])

### Decision Tree

In [42]:
from sklearn.tree import DecisionTreeClassifier
y_dtc = DecisionTreeClassifier()
y_dtc.fit(X_train, y_train)
y_dtc_pred = y_dtc.predict(X_test)

In [43]:
print ('Confusion Matrix: ', confusion_matrix(y_test, y_dtc_pred))
print ('Accuracy Score: ', accuracy_score(y_test, y_dtc_pred))

Confusion Matrix:  [[16370  5435]
 [    0     0]]
Accuracy Score:  0.7507452419169915

In [54]:
y_dtc_pred1 = y_dtc_pred.reshape(len(y_dtc_pred), 1)

In [55]:
sub_sam_ID['Response']=y_dtc_pred1
sub_sam_ID.to_csv('Analytics Vidya result Decision Tree.csv', index = False)

### XG Boost

In [44]:
from xgboost import XGBClassifier
y_xgb = XGBClassifier()
y_xgb.fit(X_train, y_train)
y_xgb_pred = y_xgb.predict(X_test)

C:\Users\sshar127\Anaconda3\lib\site-packages\xgboost\sklearn.py:892: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[10:47:09] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [45]:
print ('Confusion Matrix: ', confusion_matrix(y_test, y_xgb_pred))
print ('Accuracy Score: ', accuracy_score(y_test, y_xgb_pred))

Confusion Matrix:  [[21424   381]
 [    0     0]]
Accuracy Score:  0.9825269433616143

In [46]:
y_xgb_pred1 = y_xgb_pred.reshape(len(y_xgb_pred), 1)

In [47]:
y_xgb_pred1

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

In [66]:
sub_sam_ID = sub_sample.drop(['Response'], axis = 1)
sub_sam_ID

          ID
0      50883
1      50884
2      50885
3      50886
4      50887
...      ...
21800  72683
21801  72684
21802  72685
21803  72686
21804  72687

[21805 rows x 1 columns]

In [57]:
sub_sam_ID['Response']=y_xgb_pred1
sub_sam_ID.to_csv('Analytics Vidya result New - 2.csv', index = False)

### Random Forest

In [58]:
from sklearn.ensemble import RandomForestClassifier
y1_rfc = RandomForestClassifier()
y1_rfc.fit(X_train, y_train)

RandomForestClassifier()

In [59]:
y1_rfc_pred = y1_rfc.predict(X_test)

In [61]:
print (accuracy_score(y_test, y1_rfc_pred))

0.9008942903003898

In [63]:
sub_sam_ID['Response']=y1_rfc_pred
sub_sam_ID.to_csv('Analytics Vidya result Random Forest.csv', index = False)

### Naive Bayes

In [64]:
from sklearn.naive_bayes import GaussianNB
y1_gnb = GaussianNB()
y1_gnb.fit(X_train, y_train)
y1_gnb_pred = y1_gnb.predict(X_test)

In [65]:
print (accuracy_score(y_test, y1_gnb_pred))

1.0

In [67]:
print ('Confusion Matrix: ', confusion_matrix(y_test, y1_gnb_pred))

Confusion Matrix:  [[21805]]

In [68]:
sub_sam_ID['Response']=y1_gnb_pred
sub_sam_ID.to_csv('Analytics Vidya result Naive Bayes.csv', index = False)

### Logistic Regression

In [70]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [71]:
pred_prob1 = lr.predict_proba(X_test)

In [73]:
fpr1, tpr1, thresh1 = roc_curve(y_test, pred_prob1[:,1], pos_label=1)

C:\Users\sshar127\Anaconda3\lib\site-packages\sklearn\metrics\_ranking.py:811: UndefinedMetricWarning: No positive samples in y_true, true positive value should be meaningless
  warnings.warn("No positive samples in y_true, "

In [74]:
random_probs = [0 for i in range(len(y_test))]
p_fpr, p_tpr, _ = roc_curve(y_test, random_probs, pos_label=1)

In [77]:
pred_prob1

array([[0.83847763, 0.16152237],
       [0.75429907, 0.24570093],
       [0.75571574, 0.24428426],
       ...,
       [0.86467452, 0.13532548],
       [0.73660599, 0.26339401],
       [0.84539773, 0.15460227]])

In [75]:
lr_auc_score1 = roc_auc_score(y_test, pred_prob1[:,1])

ValueError: Only one class present in y_true. ROC AUC score is not defined in that case.