In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1 = pd.read_csv(r'C:\Users\2092272\Downloads\Perssonal\Learning\Python Practice\Irisi\Iris.csv')

In [3]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df1.nunique()

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

### Maximum, Minimum, Average and Median "SepalLengthCm", for every Species!!
Same code can be used for -> "SepalWidthCm", "PetalLengthCm", "PetalWidthCm"

In [5]:
df1.Species.value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

### Taking "Iris-setosa" as an example

In [6]:
species_grp = df1.groupby("Species")

In [7]:
Iris_setosa_grp = species_grp.get_group('Iris-setosa')

In [8]:
print ('Max SepalLengthCm value is:', Iris_setosa_grp["SepalLengthCm"].max())
print ('Min SepalLengthCm value is:', Iris_setosa_grp["SepalLengthCm"].min())
print ('Mean SepalLengthCm value is:', Iris_setosa_grp["SepalLengthCm"].mean())
print ('Median SepalLengthCm value is:', Iris_setosa_grp["SepalLengthCm"].median())

Max SepalLengthCm value is: 5.8
Min SepalLengthCm value is: 4.3
Mean SepalLengthCm value is: 5.005999999999999
Median SepalLengthCm value is: 5.0

### Taking "Iris-versicolor" as an example

In [9]:
Iris_versicolor_grp = species_grp.get_group('Iris-versicolor')
print ('Max SepalLengthCm value is:', Iris_versicolor_grp["SepalLengthCm"].max())
print ('Min SepalLengthCm value is:', Iris_versicolor_grp["SepalLengthCm"].min())
print ('Mean SepalLengthCm value is:', Iris_versicolor_grp["SepalLengthCm"].mean())
print ('Median SepalLengthCm value is:', Iris_versicolor_grp["SepalLengthCm"].median())

Max SepalLengthCm value is: 7.0
Min SepalLengthCm value is: 4.9
Mean SepalLengthCm value is: 5.936
Median SepalLengthCm value is: 5.9

### Taking "Iris-virginica" as an example

In [10]:
Iris_virginica_grp = species_grp.get_group('Iris-virginica')
print ('Max SepalLengthCm value is:', Iris_virginica_grp["SepalLengthCm"].max())
print ('Min SepalLengthCm value is:', Iris_virginica_grp["SepalLengthCm"].min())
print ('Mean SepalLengthCm value is:', Iris_virginica_grp["SepalLengthCm"].mean())
print ('Median SepalLengthCm value is:', Iris_virginica_grp["SepalLengthCm"].median())

Max SepalLengthCm value is: 7.9
Min SepalLengthCm value is: 4.9
Mean SepalLengthCm value is: 6.587999999999998
Median SepalLengthCm value is: 6.5

# Aggregated SepalLengthCm - mean, min, max

In [11]:
result = df1.groupby('Species').agg({'SepalLengthCm': ['mean', 'min', 'max']})

In [12]:
result

                SepalLengthCm
                         mean  min  max
Species
Iris-setosa             5.006  4.3  5.8
Iris-versicolor         5.936  4.9  7.0
Iris-virginica          6.588  4.9  7.9

# Lowest mean SepalLengthCm

In [13]:
df1['avg_species'] = df1.groupby('Species').SepalLengthCm.transform('mean')

In [15]:
df1.loc[df1['avg_species'].idxmin()]['Species']

'Iris-setosa'

# Pulling mean for all Species

In [16]:
species_grp1 = df1.groupby("Species")['SepalLengthCm'].mean()

In [17]:
df2 = pd.DataFrame(species_grp1)

In [18]:
df2

                 SepalLengthCm
Species
Iris-setosa              5.006
Iris-versicolor          5.936
Iris-virginica           6.588